In [19]:
import seaborn as sns

df = sns.load_dataset('penguins')
print(df.dtypes)
#print(df)

species               object
island                object
bill_length_mm       float64
bill_depth_mm        float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object
    species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen            39.1           18.7              181.0
1    Adelie  Torgersen            39.5           17.4              186.0
2    Adelie  Torgersen            40.3           18.0              195.0
3    Adelie  Torgersen             NaN            NaN                NaN
4    Adelie  Torgersen            36.7           19.3              193.0
..      ...        ...             ...            ...                ...
339  Gentoo     Biscoe             NaN            NaN                NaN
340  Gentoo     Biscoe            46.8           14.3              215.0
341  Gentoo     Biscoe            50.4           15.7              222.0
342  Gentoo     Biscoe            45.2           14.8              212.0
343  Gentoo     Biscoe            49.9           16.1              213.0

     body_mass_g     sex
0         3750.0    Male
1         3800.0  Female
2         3250.0  Female
3            NaN     NaN
4         3450.0  Female
..           ...     ...
339          NaN     NaN
340       4850.0  Female
341       5750.0    Male
342       5200.0  Female
343       5400.0    Male

[344 rows x 7 columns]

In [26]:
df = df.convert_dtypes() #converte os dados 
#print(df.dtypes)
#print(df)

In [27]:
# elimina as linhas que possuem lacunas sem dados
dfcopia = df.copy()
dfcopia = dfcopia.dropna(axis=0)
print(dfcopia)

    species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen            39.1           18.7                181
1    Adelie  Torgersen            39.5           17.4                186
2    Adelie  Torgersen            40.3           18.0                195
4    Adelie  Torgersen            36.7           19.3                193
5    Adelie  Torgersen            39.3           20.6                190
..      ...        ...             ...            ...                ...
338  Gentoo     Biscoe            47.2           13.7                214
340  Gentoo     Biscoe            46.8           14.3                215
341  Gentoo     Biscoe            50.4           15.7                222
342  Gentoo     Biscoe            45.2           14.8                212
343  Gentoo     Biscoe            49.9           16.1                213

     body_mass_g     sex
0           3750    Male
1           3800  Female
2           3250  Female
4           3450  Female
5           3650    Male
..           ...     ...
338         4925  Female
340         4850  Female
341         5750    Male
342         5200  Female
343         5400    Male

[333 rows x 7 columns]